body{
  background-color: #036666;
}
head{
  color: #036666;
  background-color: black;
}
h1 {
  color: black;
  text-align: center;
}
.navbar{
  color: #036666;
}
.navbar-collapse{
  color: #036666;
}
nav{
  background-color: black;
}